body{
    margin:0;
    font-family:Arial, sans-serif;

    background: linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        purple
    );

    background-size:400% 400%;
    animation:rainbow 10s infinite;
}

/* regenboog animatie */

@keyframes rainbow{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

/* header */

header{
    text-align:center;
    padding:40px;
    color:white;
    background:rgba(0,0,0,0.5);
}

/* gallery */

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:30px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

.gallery figure{
text-align:center;
margin:0;
}

.gallery figcaption{
margin-top:8px;
font-size:14px;
color:white;
}

/* footer */

footer{
    text-align:center;
    padding:20px;
    color:white;
    background:rgba(0,0,0,0.5);
}

/* ---------------- */
/* FLORISSA POPUP  */
/* ---------------- */

.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.popup-box{
    background:white;
    color:black;
    padding:30px;
    border-radius:15px;
    text-align:center;
    width:300px;
}

.popup-box button{
    margin-top:15px;
    padding:10px 15px;
    border:none;
    background:black;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.hidden{
    display:none;
}

/* ---------------- */
/* STRAY KIDS ALARM */
/* ---------------- */

.alarm-box{
    position:fixed;
    bottom:20px;
    right:20px;
    width:260px;
    background:#111;
    color:white;
    border:3px solid red;
    padding:20px;
    border-radius:10px;
    z-index:9998;
    text-align:center;

    animation:alarmShake 0.2s infinite alternate;
}

.alarm-box button{
    margin-top:10px;
    padding:10px;
    border:none;
    background:red;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

/* alarm shake animatie */

@keyframes alarmShake{

from{transform:translateX(-3px);}
to{transform:translateX(3px);}

}
